<h1>Products#index</h1>
<%= form_tag(products_path, method: :get) do %>
    <%= text_field_tag :keywords, params[:keywords] %>
    <%= collection_select :category, :id, Category.all.order('name ASC'), :id, :name,{include_blank: 'Select Category'} %>
    <%= submit_tag 'Search', name: nil %>
<% end %>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product %></li>
  <% end %>
</ul>
