<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <h1>Dev & B's General Goods</h1>
      <p><%= link_to "Home", root_path %> | <%= link_to "Categories", categories_path %></p>
    </div>
    <%= form_tag(products_path, method: :get) do %>
    <%= text_field_tag :keywords, params[:keywords] %>
    <%= collection_select :category, :id, Category.all.order('name ASC'), :id, :name,{include_blank: 'Select Category'} %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>
    <%= yield %>
    <br>
    <hr>
    <footer class="pl-5">
      <p><em>Copywright Dev & B's General Goods 2023</em></p>
      <br>
      <ul class="m5-5" style="list-style: none;">
        <li><%= link_to "Home", root_path %></li>

        <% cms_pages.each do |page| %>
          <li><%= link_to page.title, permalink_path(page.permalink) %></li>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
