<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <h1>Dev & B's General Goods</h1>
      <p><%= link_to "Home", root_path %> | <%= link_to "Categories", categories_path %></p>
    </div>
    <%= form_tag(products_path, method: :get) do %>
    <%= text_field_tag :keywords, params[:keywords] %>
    <%= collection_select :category, :id, Category.all.order('name ASC'), :id, :name,{include_blank: 'Select Category'} %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>
    <%= yield %>
  </body>
</html>
